<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
</head>
<body>
  <h1>Edit a Product</h1>
  <form action="/products/<%= product._id %>?_method=PUT" method="POST">
    <label for="name">Product Name</label>
    <input type="text" name="name" id="name" placeholder="Product Name" value="<%= product.name %>">
    <label for="price">Price</label>
    <input type="number" name="price" placeholder="Product Price" id="price" value="<%= product.price %>">
    <label for="category">Select Category</label>
    <select name="category" id="category">    
      
      <% for(let cat of categories) { %>
        <option value= "<%= cat %>" <%= product.category === cat ? 'selected' : '' %>>
          <%= cat %>
        </option>
      <% } %>
 
  
    </select>
    <button>Submit</button>

    <a href="/products/<%= product._id %>">Cancel</a>
  </form>
</body>
</html>